.custom-card-header{
    text-transform: uppercase;
    color: rgba(0,0,0,.6);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding-top: 0.25rem !important;
}

.custom-card-footer{
    padding-top: 1rem;
    font-weight: 300;
}

.custom-card-body{
    font-weight: 300;
}

.custom-box-default{
    padding:0.5rem;
    margin: 0rem;
}
.custom-box-vertical{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0rem;
}



.custom-border-top-solid-highlight{
    border-top: 3px solid #a87ca0;
}

.custom-border-top-dotted{
    border-top: 1px dotted #d9d9d9;
}